@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter:wght@300;400;500&family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter:wght@300;400;500&family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter:wght@300;400;500&family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter:wght@300;400;500&family=Lacquer&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:3000px;
    background-color: #D9D9D9;
}
.listdivision{
    display: flex;
    justify-content: space-between;
}
.listdivision li{
    list-style-type:  none;
    margin-left:190px;
    margin: 10px 50px;
    font-family: 'inter';
}
.listdivision a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    font-weight: bold;
}
.mainheaderdivision{
    display: flex;
}
.headercouchly{
margin-top: 10px;
color: #EC7A1C;
margin-right: 460px;
margin-left: 20px;
font-family: 'Lacquer',cursive;
}
header{
    background-image: url("furniturebanner.png");
    height: 700px;
   
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.highlights{
    color: #EC7A1C !important;
}


.mainfirstdiv1{
    display: flex;
}
.subfirst1{
    width:45%;
    background-image: url("Rectangle\ 19.png");
    height: 500PX;
    margin-top: 30px;
}
.text1{
    text-align: center;
    padding-top: 20%;
    margin-bottom: 30px;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.text2{
    text-align: center;
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}
.text3{
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    color: white;
}
.subfirst2{
    width:55%;
    background-image: url("Rectangle\ 18\ \(1\).png");
    height: 500PX;
    margin-top: 30px;  
}
.mainseconddiv1{
    width: 100%;
    height:650px;
    display:flex;
    background-color: #D9D9D9;
    justify-content: space-around;
    margin-top:30px;
}

.subsecond1{
    width: 30%;
    height:650px;
    background-color: white;
}
.subsecond2{
    width: 30%;
    height:650px;
    background-color: white;
}
.subsecond3{
    width: 30%;
    height:650px;
    background-color: white;
}

.sectext1{
text-align: center;
padding-top: 20px;
font-size: 28px;
color: #EC7A1C;
font-family: 'Inria serif';
}
.sectext2{
    text-align: center;
    padding-top: 20px;
font-size: 28px;
font-family: 'josefin sans';
color: rgba(0, 0, 0, 0.667);
}
.sectext3{
    text-align: center;
    padding-top: 20px;
font-size: 28px;
font-family: 'josefin sans';
color: rgba(0, 0, 0, 0.667);
}
.buynow{
    margin-top: 30px;
    margin-left: 40%;
    padding:10px 15px;
    background-color: #EC7A1C;
    color: white;
    border-radius: 5px;
    border: #EC7A1C;
    font-weight: bold;
}
.bedfurniture{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ec7a1cf0;
    font-family: 'Jacques Francois';
    text-align: center;
}
.mainthirddiv{
    margin-top: 30px;
    width: 100%;
    height: 1000px;
    background-image: url("Rectangle\ 35.png");
}
.subthird1{
    color:#f5f5f5;
    margin-left: 70%;
padding-top: 20px;
    font-size: 32px;
    font-family: 'Ibarra Real Nova';
}
.subthird2{
    color:#EC7A1C;
    margin-left: 80%;
padding-top: 20px;
    font-size: 28px;
    font-family: 'Ibarra Real Nova';
}
.flex1{
  display: block;
}
.flex{
    display: flex;
  }
.subfour1{
    margin-top: 40px;
    width:887px;
    height:400px;
    background-image: url("Rectangle\ 62.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    margin-right: 40px;
}
.home{
    color:white;
    margin-left: 40px;
    font-size: 42px;
    font-family: 'inter';
    font-weight: bold;

}
.shop{
    color:white; 
    margin-top: 33%;
    margin-left: 40px;
    font-size: 28PX;
    font-family: 'inter';
    text-decoration: underline;
}
.mainfourdiv1{
    display: flex;
    
}
.subfour2{
background-image: url("Rectangle\ 63.png");
width:420px;
height:300px;
margin-right: 40px;
}
.subfour3{
    background-image: url("Rectangle\ 64.png"); 
    width:420px;
height:300px;
}
.mainfourdiv2{
background-image: url("Rectangle\ 66.png");
width: 700px;
height: 745px;
background-repeat: no-repeat;
margin-top: 40px;
}
.meet{
    padding-left: 30px;
    color: white;
    font-size: 44px;
    margin-top: 60%;
}
.ourdesigners{
    text-align: left;
    color: white;
    font-size: 30px;
    margin-top: 280px;
    padding-left: 30px;
    text-decoration: underline;
}
footer{
    background-color: rgba(0, 0, 0, 0.648);
    color: white;
    margin-top: 40px;
}
.mainfooterone{
    display: flex;
   justify-content: space-between;
    padding: 20px 0px 40px 0px;
    width: 97%;
    margin: auto;
}
.subfooterone{
    width: 50%;
}
.subfootertwo{
    width:40%;
}
    .joinour{
        font-size: 24px;
        margin-left: -8px;
        font-family: 'inter';
    }
    .email{
        border: none;
        padding:10px 10px;
        border-radius: 5px;
        background-color: #EC7A1C;
        /* margin-left: 500px; */
        margin-right: 30px;
        font-family: 'inter';
        width:250px;    }

    ::placeholder{
        color: white;
        font-family: 'inter';
    }
    .subscripe{
        padding: 10px 15px;
    margin-left: 20px;
    color: #EC7A1C;
    border-radius: 5px;
    font-family: 'inter';
    }
    
    .mainfootertwo{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
    }
    .cou{
        font-family: 'Lacquer', cursive;
        color: #EC7A1C;
        margin-bottom: 20px;
        margin-right: ;
    }

    .copysubfooterone{
width: 25%;
    }
    .copysubfootertwo{
        width: 20%;
    }
    .copysubfooterfour{
        width: 20%;
    }
    .copysubfooterthree{
        width: 20%;
    }
    .amet{
        margin-bottom: 25px;
        font-family: 'inter';
    }

    .headigs{
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        font-family: 'inter';
    }
    .list{
        list-style-type: none;
    }
    .copyright{
        padding: 20px 0px;
        background-color: #EC7A1C;
        color: white;
        font-family: 'inter';
    }
    .allright{
        text-align: center;
        font-size:20px;
        font-family: 'inter';
    }
    li{
        margin-left: 40px;
        font-family: 'inter';
    
    }
    .list{
        margin-bottom: 20px;
    }
    @media screen and (max-width:412px){
        body{
            width:1500px;
        }
        .mainfirstdiv1{
            width:1500px; 
        }